PORT=8000

NODE_ENV=development

MONGO_URI=

ACCESS_TOKEN_SECRET=access_secret_key
REFRESH_TOKEN_SECRET=refresh_secret_key

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

JWT_SECRET=
JWT_EXPIRES_IN=7d

HF_API_KEY=

CHROMA_HOST=

FRONTEND_URL=http://localhost:5173

