fastapi
uvicorn
ollama
pydantic
json-repair
python-dotenv
watchdog
schedule
requests
beautifulsoup4
pdfplumber
langchain
langchain-ollama
langchain-core
langchain-google-genai
langchain-openai
chromadb
langgraph
lxml
httpx